[submodule "src/external/glm"]
	path = vulkan-tutorial/src/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/external/SDL"]
	path = vulkan-tutorial/src/external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "src/external/spdlog"]
	path = vulkan-tutorial/src/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/external/tinyobjloader"]
	path = vulkan-tutorial/src/external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "src/external/stb"]
	path = vulkan-tutorial/src/external/stb
	url = https://github.com/nothings/stb.git
[submodule "src/external/imgui"]
	path = vulkan-tutorial/src/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vkguide/src/external/SDL"]
	path = vkguide/src/external/SDL
	url = https://github.com/libsdl-org/SDL.git
